@use 'common';

.Appointments-container {
    @include common.responsive-container-padding(1);
    @include common.content-column;
    @include common.grey-background(125, 0.3);
    position: relative;
    overflow: hidden;
}



.Appointments-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    object-fit: contain;
}

.Appointments-activeSeason {
    z-index: -800;
    opacity: 1;
}

.Appointments-prevSeason {
    z-index: -900;
    opacity: 1;
}

.Appointments-inactiveSeason {
    z-index: -1000;
    opacity: 0;
}


.AppointmentDate-container {
    @include common.content-column;
}

.AppointmentDate-day {
    @include common.header-3;
}

.AppointmentDate-date {
    @include common.header-3;
}

.AppointmentsBody-container {
    @include common.content-column;
    @include common.grey-border(230);
    padding-left: 10%;
    border-width: 0;
    border-left-width: 0.25em;
    border-style: solid;
    height: 100%;
}

.AppointmentsBody-background {
    @include common.content-column;
    @include common.grey-background(50, 0.5);
    @include common.responsive-container-padding(2);
    @include common.grey-color(230);
    border-radius: 0.5em;
    flex: 1;
}

.Appointment-entry {
    @include common.content-column;
}

.Appointment-noEntry {
    @include common.content-column;
}

@include common.clickableClass(".Appointment-entry");

.Appointment-entryTitle {
    @include common.header-4;
}

.Appointment-entryTime {
    @include common.header-4;
}

.AddAppointment-container {
    @include common.center-column;
}

.AddAppointment-plus {
    @include common.center-row;
    padding: 1em 1em 1em 1em;
}

.AddAppointment-plus:hover {
    cursor: pointer;
}

.AddAppointment-plusSymbol {
    color: rgba(200, 200, 200, 0.6);
    height: 3em;
    width: 3em;
}

.AddAppointment-plusSymbol:hover {
    @include common.grey-color(200);
}

.AddAppointment-plusSymbol:active {
    color: black;
}

.AddAppointment-buttons {
    @include common.grey-background(240, 1);
}

.AddAppointment-errorContainer {
    @include common.grey-background(240, 1);
    color: red;
}

.AppointmentForm-container {
    padding: 3em 2em 3em 2em;
    @include common.grey-background(240, 1);
    @include common.content-column;
}

.AppointmentForm-row {
    @include common.content-row;
    padding-bottom: 0.7em;
    flex: 1,
}

.AppointmentForm-group {
    @include common.content-row;
    align-items: center;
    flex: 1;
}

.AppointmentForm-label {
    display: flex;
    width: 8em;
}

input {
    display: flex;
    flex: 1;
    @include common.grey-border(200);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.form-button {
    padding: 0.5em 0 0.5em 0;
}