

.CalendarBody-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    border-color: black;
    border-width: 0.1em 0 0 0;
    border-style: solid;
}

.CalendarBody-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.CalendarBody-dayBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CalendarBody-dayBox div:hover {
    cursor: pointer;
}

.CalendarBody-activeDayBox:hover {
    //cursor: pointer;
}

.CalendarBody-inactiveDay {
    color: grey;
}

.CalendarBody-selectedDay {
    //background-color: lightgrey;
    //border-radius: 50%;
    font-weight: bolder;
}

/*.CalendarBody-selectedDay>div {
    padding-top: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    z-index: -2000;
    position: relative;
}*/

.CalendarBody-dayBox .CalendarBody-selectedIcon {
    position: absolute;
    background-color: green;
    border-radius: 50%;
    height: 0.5em;
    width: 0.5em;
    bottom: 0.3em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1000;
}