@use 'common';

.Calendar-container {
    @include common.content-column;
}

.Calendar-body {
    @include common.display-row;
}

.Calendar-leftArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}

.Calendar-leftArrowSymbol {
    width: 3em;
    height: 3em;
    color: lightgrey;
}

@include common.clickableClass(".Calendar-leftArrowSymbol");

.Calendar-leftArrowSymbol:hover {
    color: black;
}

.Calendar-rightArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1,
}

.Calendar-rightArrowSymbol {
    width: 3em;
    height: 3em;
    color: lightgrey;
}

@include common.clickableClass(".Calendar-rightArrowSymbol");

.Calendar-rightArrowSymbol:hover {
    color: black;
}

.Calendar-aspectRatio {
    flex: 8;
    @include common.screen {
        width: 100%;
        padding-top: 62%;
        position: relative;
    }
    @include common.tablet {
        min-height: 25vw;
    }

    @include common.mobile {
        min-height: 60vw;
    }
}