

.Calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/*
.Calendar-body {
    display: flex;
    flex-direction: column;
    justify-content: 
}*/

.Calendar-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.Calendar-leftArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}

.Calendar-leftArrowSymbol {
    width: 3em;
    height: 3em;
    color: lightgrey;
}

.Calendar-leftArrowSymbol:hover {
    cursor: pointer;
    color: black;
}

.Calendar-rightArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1,
}

.Calendar-rightArrowSymbol {
    width: 3em;
    height: 3em;
    color: lightgrey;
}

.Calendar-rightArrowSymbol:hover {
    cursor: pointer;
    color: black;
}