

.CalendarBody-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.CalendarBody-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.CalendarBody-dayBox {
    display: flex;
    width: 2.3em;
    height: 2.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CalendarBody-dayBox:hover {
    cursor: pointer;
}

.CalendarBody-activeDayBox:hover {
    cursor: pointer;
}

.CalendarBody-inactiveDay {
    color: grey;
}

.CalendarBody-selectedDay {
    background-color: lightgrey;
    border-radius: 50%;
}