$tablet: 850px;
$mobile: 400px;

@mixin responsive-container-padding($factor) {
    @include screen {
        padding: ($factor * 3%) ($factor * 4.5%) 0 ($factor * 4.5%);
    }

    @include tablet {
        padding: ($factor * 3vw) ($factor * 4.5vw) 0 ($factor * 3vw);
    }
}

@mixin content-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

@mixin display-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

@mixin center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin content-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

@mixin display-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

@mixin center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin grey-background($level, $opacity) {
    background-color: rgba($level, $level, $level, $opacity);
}

@mixin grey-color($level) {
    color: rgb($level, $level, $level);
}

@mixin grey-border($level) {
    border-color: rgb($level, $level, $level);
}

@mixin header-2 {
    @include screen {
        font-size: 3em;
        font-weight: normal;
    }

    @include tablet {
        font-size: calc(2.3em + 1vw);
        font-weight: bold;
    }
}

@mixin header-3 {
    font-weight: normal;
    @include screen {
        font-size: 2em;
    }
    @include tablet {
        font-size: calc(1.7em + 1vw);
    }
}

@mixin header-4 {
    @include screen {
        font-size: 1.5em;
    }

    @include tablet {
        font-size: calc(1.3em + 1vw);
    }
}

@mixin header-5 {
    @include screen {
        font-size: 1.2em;
    }

    @include tablet {
        font-size: calc(1.2em + 1vw);
    }
}

@mixin clickableClass($selector) {
    #{$selector}:hover {
        cursor: pointer;
    }
}

@mixin base-font {
    font-family: 'Comic Neue', 'Open Sans', sans-serif;
}

@mixin screen {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin tablet {
    @media  (max-width: $tablet) {
        @content;
    }
}