@use "common";

.Months-container {
    @include common.center-column;
}

.Months-position {
    @include common.display-row;
    align-items: center;
    min-width: 75%;
}

.Months-title {
    @include common.header-4;
    color: grey;
}

.Months-activeTitle {
    @include common.header-3;
    color: black;
}