.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
@media (min-width: 850px) {
  .Header-container {
    padding: 3% 4.5% 0 4.5%;
  }
}
@media (max-width: 850px) {
  .Header-container {
    padding: 3vw 4.5vw 0 3vw;
  }
}

.Header-title {
  display: inline;
}
@media (min-width: 850px) {
  .Header-title {
    font-size: 3em;
    font-weight: normal;
  }
}
@media (max-width: 850px) {
  .Header-title {
    font-size: calc(2.3em + 1vw);
    font-weight: bold;
  }
}

.Header-year {
  font-weight: normal;
  display: inline;
}
@media (min-width: 850px) {
  .Header-year {
    font-size: 2em;
  }
}
@media (max-width: 850px) {
  .Header-year {
    font-size: calc(1.7em + 1vw);
  }
}

.Months-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Months-position {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  align-items: center;
  min-width: 75%;
}

.Months-title {
  color: grey;
}
@media (min-width: 850px) {
  .Months-title {
    font-size: 1.5em;
  }
}
@media (max-width: 850px) {
  .Months-title {
    font-size: calc(1.3em + 1vw);
  }
}

.Months-activeTitle {
  font-weight: normal;
  color: black;
}
@media (min-width: 850px) {
  .Months-activeTitle {
    font-size: 2em;
  }
}
@media (max-width: 850px) {
  .Months-activeTitle {
    font-size: calc(1.7em + 1vw);
  }
}

.CalendarBody-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  border-color: black;
  border-width: 0.1em 0 0 0;
  border-style: solid;
}
@media (min-width: 850px) {
  .CalendarBody-container {
    padding-top: 1em;
  }
}
@media (max-width: 850px) {
  .CalendarBody-container {
    padding-top: 0.5em;
  }
}

.CalendarBody-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.CalendarBody-dayBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 850px) {
  .CalendarBody-dayBox {
    font-size: 1.2em;
  }
}
@media (max-width: 850px) {
  .CalendarBody-dayBox {
    font-size: calc(1.2em + 1vw);
  }
}

.CalendarBody-dayBox div:hover {
  cursor: pointer;
}

.CalendarBody-inactiveDay {
  color: grey;
}

.CalendarBody-selectedDay {
  font-weight: bolder;
}

.CalendarBody-dayBox .CalendarBody-selectedIcon {
  position: absolute;
  background-color: green;
  border-radius: 50%;
  height: calc(0.4em + 0.1vw);
  width: calc(0.4em + 0.1vw);
  bottom: calc(0.5em - 0.1vw);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1000;
}

.CalendarBody-dayWrapper {
  display: flex;
  position: relative;
  padding: 0 0 1.2em 0;
}

.Calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.Calendar-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.Calendar-leftArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.Calendar-leftArrowSymbol {
  width: 3em;
  height: 3em;
  color: lightgrey;
}

.Calendar-leftArrowSymbol:hover {
  cursor: pointer;
}

.Calendar-leftArrowSymbol:hover {
  color: black;
}

.Calendar-rightArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.Calendar-rightArrowSymbol {
  width: 3em;
  height: 3em;
  color: lightgrey;
}

.Calendar-rightArrowSymbol:hover {
  cursor: pointer;
}

.Calendar-rightArrowSymbol:hover {
  color: black;
}

@media (min-width: 850px) {
  .Calendar-aspectRatio {
    width: 100%;
    padding-top: 62%;
    flex: 8;
    position: relative;
  }
}
@media (max-width: 850px) {
  .Calendar-aspectRatio {
    flex: 8;
    min-height: 25vw;
  }
}

.Appointments-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(125, 125, 125, 0.3);
  position: relative;
  overflow: hidden;
}
@media (min-width: 850px) {
  .Appointments-container {
    flex: 1;
  }
}
@media (min-width: 850px) and (min-width: 850px) {
  .Appointments-container {
    padding: 3% 4.5% 0 4.5%;
  }
}
@media (min-width: 850px) and (max-width: 850px) {
  .Appointments-container {
    padding: 3vw 4.5vw 0 3vw;
  }
}
@media (max-width: 850px) {
  .Appointments-container {
    flex: 0;
    height: 120vw;
  }
}
@media (max-width: 850px) and (min-width: 850px) {
  .Appointments-container {
    padding: 9% 13.5% 0 13.5%;
  }
}
@media (max-width: 850px) and (max-width: 850px) {
  .Appointments-container {
    padding: 9vw 13.5vw 0 9vw;
  }
}

.Appointments-container img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  height: 100%;
}

.Appointments-activeSeason {
  z-index: -800;
  opacity: 1;
}

.Appointments-prevSeason {
  z-index: -900;
  opacity: 1;
}

.Appointments-inactiveSeason {
  z-index: -1000;
  opacity: 0;
}

.AppointmentDate-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.AppointmentDate-day {
  font-weight: normal;
}
@media (min-width: 850px) {
  .AppointmentDate-day {
    font-size: 2em;
  }
}
@media (max-width: 850px) {
  .AppointmentDate-day {
    font-size: calc(1.7em + 1vw);
  }
}

.AppointmentDate-date {
  font-weight: normal;
}
@media (min-width: 850px) {
  .AppointmentDate-date {
    font-size: 2em;
  }
}
@media (max-width: 850px) {
  .AppointmentDate-date {
    font-size: calc(1.7em + 1vw);
  }
}

.AppointmentsBody-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-color: #e6e6e6;
  padding-left: 10%;
  border-width: 0;
  border-left-width: 0.25em;
  border-style: solid;
  height: 100%;
}

.AppointmentsBody-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: rgba(50, 50, 50, 0.5);
  color: #e6e6e6;
  border-radius: 0.5em;
  flex: 1;
}
@media (min-width: 850px) {
  .AppointmentsBody-background {
    padding: 6% 9% 0 9%;
  }
}
@media (max-width: 850px) {
  .AppointmentsBody-background {
    padding: 6vw 9vw 0 6vw;
  }
}

.Appointment-entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.Appointment-noEntry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.Appointment-entry:hover {
  cursor: pointer;
}

@media (min-width: 850px) {
  .Appointment-entryTitle {
    font-size: 1.5em;
  }
}
@media (max-width: 850px) {
  .Appointment-entryTitle {
    font-size: calc(1.3em + 1vw);
  }
}

@media (min-width: 850px) {
  .Appointment-entryTime {
    font-size: 1.5em;
  }
}
@media (max-width: 850px) {
  .Appointment-entryTime {
    font-size: calc(1.3em + 1vw);
  }
}

.AddAppointment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddAppointment-plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 1em 1em;
}

.AddAppointment-plus:hover {
  cursor: pointer;
}

.AddAppointment-plusSymbol {
  color: rgba(200, 200, 200, 0.6);
  height: 3em;
  width: 3em;
}

.AddAppointment-plusSymbol:hover {
  color: #c8c8c8;
}

.AddAppointment-plusSymbol:active {
  color: black;
}

.AddAppointment-buttons {
  background-color: #f0f0f0;
}

.AddAppointment-errorContainer {
  background-color: #f0f0f0;
  color: red;
}

.AppointmentForm-container {
  padding: 3em 2em 3em 2em;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.AppointmentForm-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 0.7em;
  flex: 1;
}

.AppointmentForm-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-items: center;
  flex: 1;
}

.AppointmentForm-label {
  display: flex;
  width: 8em;
}

input {
  display: flex;
  flex: 1;
  border-color: #c8c8c8;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.form-button {
  padding: 0.5em 0 0.5em 0;
}

#app span {
  user-select: none;
  /* standard syntax */
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

#app div {
  user-select: none;
  /* standard syntax */
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

#app {
  font-family: "Comic Neue", "Open Sans", sans-serif;
}
@media (min-width: 850px) {
  #app {
    font-size: 17px;
  }
}
@media (max-width: 850px) {
  #app {
    font-size: calc(14px + 0.3vw);
  }
}

@media (min-width: 850px) {
  #app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}
@media (max-width: 850px) {
  #app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

/*# sourceMappingURL=styles.css.map */
