@use 'header';
@use 'months';
@use 'calendar-body';
@use 'calendar';
@use 'appointments';
@use 'common';


#app span {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#app div {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#app {
    @include common.base-font;

    @include common.screen {
        font-size: 17px;
    }

    @include common.tablet {
        font-size: calc(14px + 0.3vw);
    }
}

#app {
    @include common.screen {
        @include common.content-row;
    }

    @include common.tablet {
        @include common.content-column;
    }
}
